* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #d8d8d8;
  text-align: center;
}

.header {
  display: flex;
  font-size: 30px;
  background: rgb(74, 74, 74);
  padding: 5px 0px;
  margin-bottom: 20px;
}

.title {
  margin-left: 30px;
  color: white;
  background: rgb(74, 74, 74);
}

.box {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 50%;
  background: rgb(238, 238, 238);
  text-align: center;
}

.boxHeader {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 22px;
  text-align: left;
  margin-left: 10%;
  padding-top: 10px;
  color: rgb(44, 44, 44);
}

.inputText {
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-style: none;
  border-radius: 5px;
}

.description {
  height: 80px;
  font-size: 13px;
}

.dateInput {
  text-align: left;
  margin-left: 10%;
  padding: 10px;
}
